Source: pulseaudio-module-cmtspeech-n9xx
Section: libs
Priority: required
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper (>= 10),
	libpulse-dev,
	libtool-bin,
	autoconf,
	automake,
	pkg-config,
	libdbus-1-dev,
	libmeego-common-dev,
	libcmtspeechdata-dev
# TODO: pulsecore
Standards-Version: 4.3.0

Package: pulseaudio-module-cmtspeech-n9xx
Section: libs
Priority: required
Architecture: any
Depends: ${shlibs:Depends}
Description: Cmtspeech module for PulseAudio on N9xx
